body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s;
}

.profBtn {
  text-align: center;
  font-weight: bolder; 
  font-size: 1.1em; 
  padding: 10px;
  background-color: #242323;
  color: white;
  border: unset;
  border-radius: 2px;
  width: 6rem;
  height: 2.25em;
  cursor: pointer;
}

.light-mode {
  background-color: #fff;
  color: #000;
}

.dark-mode {
  background-color: #111;
  color: #fff;
}

#title {
  background-color: #141414;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 24px;
  border-bottom: 2.5px solid #1f1f1f;
}

.dark-mode-toggle {
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}

.profile-container {
  text-align: center;
  margin-top: 20px;
}

.profile-container img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
   user-select: none;
}

.data-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  text-align: center;
  align-items: center;
}

#posts,
#followers,
#following {
  text-align: center;
}

.user-info {
  margin: 20px;
}

.user-info p {
  margin: 5px;
}

/* Add this style for the scrolling effect */
.scroll-effect {
  overflow: hidden;
  white-space: nowrap;
}

.scroll-effect span {
  display: inline-block;
  animation: scrollAnimation 1s linear infinite;
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.post {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  width: 250px;
  text-align: center;
}

.post img {
  border-radius: 8px;
   user-select: none;
}

.heart-icon {
  cursor: pointer;
}

.heart-icon.filled {
  display: none;
}

.views {
  display: block;
  margin-top: 10px;
}

.description {
  margin-top: 5px;
}

#filter {
  margin-bottom: 10px;
}

.user-info {
  border: 1px solid #ccc;
  padding: 10px;
}

/* user-info compatible with phones tablets */
@media (max-width: 300px) {
  .user-info {
    width: 100%;
    margin: 5px;
  }
}
